body {
  background-color: lightblue;
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}

#map {
  width: 600px;
  height: 450px;
  border: 0;
  frameborder: 0;
}

#floating-panel {
  position: absolute;
  top: 10px;
  left: 25%;
  z-index: 5;
  padding: 5px;
  border: 0px solid #999;
  text-align: center;
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
  padding-left: 10px;
}

input[type="textbox"] {
      width: 250px;
}
